#grid-container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 0px;
    row-gap: 0px;
   
}
body{
    height: 80vh;
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr  0.25fr 1fr;

}
.grid-div{
    display: flex;
  
    border: 1px solid gainsboro;
    min-height: 100px;
    min-width: 100px;
    align-items: center;
    justify-content: center;
}
.grid-div:hover{
    cursor: pointer;
}
#grid-flex{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
  

   text-align: center;
}
#info{
    display: grid;
    grid-template-columns: 0.25fr  0.25fr ;
    grid-template-rows: 0.25fr  0.25fr;
    column-gap: 2%;
    row-gap: 2%;
    justify-content: center;
    margin-bottom: 2%;
}
#reset{
    grid-column: span 2;
    min-height: 50px;
}
.players{
    text-align: center;
}